{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Product</h1>
    <form action="{% url 'product_edited' id=product.pk %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}
    <input class="submit-form" type="submit" name="product-submit">
    </form>
    <a href="{% url 'product_details' id=product.pk %}"> Go back to product </a>

    <form action="{% url 'delete_product' id=product.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" name="product-delete" value="Delete" >
    </form>

  </body>
</html>
{% endblock %}
