{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Product </title>
  </head>
  <body>

    <p> {{product.name}}</p>
    <p>{{product.price}}</p>
    <p>{{product.description}}</p>
    <!-- <a href="{{product.url}}"> Click here </a> -->

    <a href="{% url 'edit_product' id=product.pk %}"> Edit Product </a>

    <h2>Reviews: </h2>
    {% for review in product.reviews.all %}
      <ul>
        <li>{{review.comment}}</li>
      </ul>

    {% endfor %}

    <form action="{% url 'new_review' product_id=product.pk %}" method="post">
      {% csrf_token %}

      {{ form.as_p }}
      <input class="submit-form" type="submit" name="product-submit">

    </form>
  </body>
</html>
{% endblock %}
